body {
    background-color: white;
}

h1 {
    color: blue;
}

a.title:link {
    border: 1px solid grey;
    color: dimgray;
}

a.link:link {
   color: #0000ff;
   text-decoration: none;
}

a.link:visited {
   color: #555555;
   text-decoration: none;
}

a.link:hover {
   color: #fb3f00;
   text-decoration: none;
}

a.link:active {
   color: #fb3f00;
   text-decoration: none;
}

